# Binaries
backend/mail2im
backend/main

# Database
*.db
*.db-journal

# Node
node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.test
backend/backend.log

# OMC
.omc
